@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('//db.onlinewebfonts.com/c/09de1f56f82933ed8124b02222d46188?family=Rio2016');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /*para mover el modelo de caja*/
}

/*
body {
counter-reset: none;
}
*/

.imgHeader {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.containerHeader p {
    display: flex;
    font-family: "Rio2016";
    font-size: 30px;
    color: #f8f7f7;
    ;
    margin-left: 30px;
    margin-top: -80px;
}

/* -------CARRUSEL DE FOTOS-------*/

.carouselContainer {
    margin: auto;
    width: 100%;
    padding: 20px;
    display: block;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

img p {
    position: relative;
}

ul.sliderImg {
    position: relative;
    width: 100%;
    height: 500px;
}

ul.sliderImg li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.sliderImg li img {
    width: 90%;
    height: 500px;
    margin-left: 5%;
    /*object-fit: cover;*/
}

.txt {
    position: absolute;
    top: 450px;
    left: 80px;
    background-color: rgba(190, 226, 190, 0.5);
    color: rgb(53, 50, 46);
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    font-size: 25px;
}

ul.sliderImg li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

ul.sliderImg li:target {
    opacity: 1;
    /*Mostramos el boton que pulsemos*/
}

.indicator {
    text-align: center;
    margin: 20px;
}

.indicator li {
    display: inline-block;
    text-align: center;
}

.indicator li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #23a4c3;
    width: 30px;
    height: 30px;
    font-size: 20px;
    align-content: center;
    border-radius: 100%;
}

.indicator li a:hover {
    background-color: #F4D63A;
    color: #00133A;
}

.containerFatherMain {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
}

.sectionImgWord {
    max-width: 40em;
}

.betterWorld {
    max-width: 50rem;
    max-height: 20.5rem;
    display: flex;
    /* lo maximo que tiene disponible paraagrandar la imagen*/
    /* lo maximo que tiene disponible paraagrandar la imagen*/
}

.mascotaTabla {
    background: url(./imagenes/mascotaTabla.png);
    background-size: 100% 100%;
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 80px;
}

.smallTable {
    display: grid;
    grid-column: content-start/content-end;
    grid-gap: 1rem 20px;
    padding: 2%;
    width: 50%;
}

#bigTable {
    display: none;
    bottom: 20px;
    /* background-image: url(./imagenes/mascotas.png.jpeg);
    background-size: 100% 100%;
    opacity: 0.3; */
}

.tableMedalsModal {
    border: none;
    width: 30rem;
    height: 40rem;
    /*Altura de la tabla*/
    border-collapse: collapse;
    /*Para que las celdas se unan*/
    font-family: 'Handlee', cursive;
    text-align: center;
    width: 80%;
    margin-left: 8rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.divOfFeatureAthletes {
    display: flex;
    /*flex-direction: column;*/
}

.tableMedals {
    border: none;
    /*Altura de la tabla*/
    border-collapse: collapse;
    /*Para que las celdas se unan*/
    font-family: 'Handlee', cursive;
}

caption, .titleFeaturedAthletes {
    /*Esto es la leyenda (Titulo)*/
    font-size: 30px;
    font-family: 'Handlee', cursive;
    color: #325665;
}

.tableMedals th {
    /*Esto es el encabezado de la tabla*/
    font-size: 20px;
    padding: 1px 10px;
    border-bottom: 1px solid #23a4c3;
    color: #325665;
    background-color: rgba(255, 255, 255, 0.6);
    /* En este caso sería color de fondo blanco con 85% de transparencia.*/
}

.tableMedals td {
    /*Esto es cada celda*/
    font-size: 20px;
    color: #050505;
    padding: 1px 10px;
    border: 1px solid #23a4c3;
    font-weight: 850;
    background-color: rgba(255, 255, 255, 0.6);
    /* En este caso sería color de fondo blanco con 85% de transparencia.*/
}

.buttonMedals {
    width: 150px;
    height: 30px;
    justify-self: center;
    background: #4E99CF;
    border-radius: 20px;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: #f8f7f7;
    cursor: pointer;
}

button:hover {
    background-color: #F4D63A;
    color: #00133A;
}

.buttonModal {
    position: absolute;
    margin-left: 55rem;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background: #4E99CF;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: #f8f7f7;
    cursor: pointer;
}

.filterContainer {
    background-color: #00133A;
    /*margin: auto;*/
    height: 6vw;
    display: flex;
    justify-content: space-between;
}

.filterTeamAndSport {
    font-size: 1em;
    padding: 1.5vw;
    width: 45vh;
    height: 15vw;
}

#displayOrder {
    display: none;
}

label {
    font-family: 'Handlee', cursive;
    justify-self: center;
    /*font-size: 15px;*/
    /*width: 200px;*/
    /*margin-right: 10px;*/
    color: #f8f7f7;
    font-weight: bold;
}

select {
    background-color: #23a3c3f1;
    border-radius: 50px;
    justify-self: center;
    font-size: 15px;
    height: 1.5vw;
    width: 15vw;
}

select:hover {
    background-color: #F4D63A;
}

/*----------*/

.error2 {
    display: none;
    flex-direction: column;
    align-content: center;
}

.h1Error {
    text-align: center;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    color: #00133A;
}

.imgMsjError {
    max-width: 25%;
    max-height: 25%;
    align-self: center;
}

/*----------*/

.featureAthletes {
    width: 50%;
}

/*.f-a {
    width: 25vw;
}*/

.photoAthletes {
    float: left;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.medalFeatureAthletes {
    position: relative;
    margin-top: -3.6rem;
    margin-right: -0.7rem;
    letter-spacing: 0.8rem;
}

.imageMedal img {
    top: 4rem;
    width: 8rem;
    /*background-image: url(./imagenes/medallas.png);
background-repeat: no-repeat;*/
    background-size: 70% 70%;
}

.nameAthlete {
    text-align: center;
    font-size: 15px;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    color: #00133A;
    width: min-content;
    width: 20vw;
    padding: 2px 5px;
    white-space: normal;
    /*ajusta el texto*/
    margin: 1rem;
}

.sportsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(50 86 101 / 39%);
    background-image: url(./imagenes/fondo2plantilla.png);
    box-sizing: border-box;
    background-repeat: round;
    background-size: contain;
    /*background-position: center;*/
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    margin: 1rem;
    /*organizacion de la plantilla, quedan todos derechos.*/
    box-sizing: border-box;
}

.infoAthlete {
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Handlee', cursive;
    font-weight: bold;
    /*grueso de letras*/
}

.classAthlete {
    border-radius: 15px;
    max-width: 100px;
    justify-content: center;
}

.boxImgAthlete {
    align-self: center;
    justify-content: center;
    margin: 0.5em;
    /*border-radius: 20px;*/
}

.tableAthletes {
    justify-content: center;
    min-width: max-content;
    max-width: 100%;
    max-height: 100%;
    margin: .5em;
    background-color: #eeeeee8f;
    border-radius: 10px;
}

.grid {
    display: flex;
    flex-flow: wrap;
    gap: 1rem 1rem;
    justify-content: center;
}

footer {
    background-color: #00133A;
    color: #f8f7f7;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 15px;
    position: static;
}

/*Boton volver Arriba*/

.btnArriba {
    position: fixed;
    /*posicion fija*/
    width: 4.5rem;
    height: 3rem;
    bottom: 6rem;
    right: -10rem;
    transition: all 1s;
}

.containerSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00133A;
    height: 50px;
    width: 100%;
}

.search {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    float: inline-start;
    line-height: 60px;
    transition: .3s;
    width: 0%;
}

.search:focus {
    color: white;
}

#i {
    font-size: 20px;
    color: white;
}

::placeholder {
    color: #ffffffc9;
}

.lista {
    width: 50%;
    background: rgb(255, 255, 255);
    flex-direction: column;
    z-index: 1;
    font-family: 'Handlee';
    font-size: 20px;
}

li:hover {
    background-color: #adc0e6;
    cursor: pointer;
}